.profile {
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 610px) {
  .profile{
    width: 88.125%;
    margin: 42px auto 0;
    flex-direction: column;
  }
}