.popup__close-button_shift_right {
  transform: translate(50px, -50px);
  right: 0;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
}  

@media screen and (max-width: 635px) {
  .popup__close-button_shift_right {
    transform: translate(13px, -50px);
  }
}