.profile-info {
  width: calc(100% - 120px - 150px - 30px);
  padding-left: 30px;
}

@media screen and (max-width: 635px) {
  .profile-info{
    width: 100%;
    margin: 26px auto 0;
    padding-left: 0;
  }
}